<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <nav class="others">
        <a href="signup.html" target="_blank">Signup</a>
        <a href="archives.html" target="_blank">All students</a>
        <a href="update.html" target="_blank">Update</a>
        <a href="delete.html">Delete</a>
        <a href="login.html" target="_blank">Login</a>
    </nav>
    <form action="https://localhost:5000/users" method="get">
        <input type="submit" value="Get All Users">
    </form>
</body>
</html>